:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
body {
    font-family:" Open Sans",sans-serif;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.page {
  width: 100%;
    min-height: 100vh;
    background-color: #f1f5f9;
}
/* start sidbar 
 */
 .sidebar {
/* box-shadow:1px 1px 10px #ddd; */
padding: 20px;
 }
 .sidebar h3 {
font-size: 20px;
font-weight: bold;
margin-bottom: 50px;
/* border-bottom: 2px solid black; */
 }
 .sidebar h3::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: -20px;
left: 50%;
transform: translateX(-50%);

   z-index: 2;
    background-color: black;
 }
 .sidebar h3::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    bottom: -30px;
left: 50%;
transform: translateX(-50%);
border: 5px solid white;
z-index: 3;
 }
 .sidebar ul {

 }
 .sidebar ul  li{
margin: 5px;
 }
 .sidebar ul  li a {
transition: .3s;
padding: 10px;
 }
 .sidebar ul  li a:hover , .sidebar ul  li a.active{
    background-color: #f6f6f6;
    border-radius: 6px;
 }
 .sidebar ul  li a i {
margin-right: 15px;
/* font-size: 14px; */
 }



 @media  (max-width:992px ){
    .sidebar  {
        padding: 0;
    }
    .sidebar h3  {
        margin:10px auto;
       
        margin-bottom: 20px;
    }
  .hide-mobile {
    display: none;
  }
  .sidebar h3::before{
    display: none;
  }
  .sidebar h3::after {
    display: none;
  }
  .sidebar ul  li a i  {
    font-size: 18px;
    width: 100%;
    margin: auto;
  }
  .col-1-sm {
    width: 8.33%;
 }
 .col-11-sm {
  width : 91.63%

 }
}
.special{
  display:none
}
@media (max-width:600px) {
 .sidebar{
  /* display:none */
  position: absolute;
  z-index: 6;
  width: 16.66%;
  height: 100vh;
  top: 0;
  left:-16.66% ;
  transition: all 1s;
 }
 .grid-responsive{
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

 }
 header{
width:100%
 }
 .col-12-sm{
  width:100%
 }
 .special{
  display:block;
  position:absolute;
  padding:25px 15px;
  font-size:20px;
  cursor:
  pointer;

}
header .input{
margin-left:40px;

}
input.searc{
  /* visibility: hidden; */
  /* visible */
  border-color: transparent;
  /* color
  : white; */
  cursor:default;
  transition: all .5s;


}
input.searc::placeholder{
  color:white ;
  transition: all .5s;

}

input.searc:focus +i {
  font-size: 16px;
} 
input.searc:focus::placeholder{
  color:gray
}
header .input i {
 color: black;
 font-size: 20px;
 cursor: pointer;
} 
 

}

 /* end sidebar  */

 /* start header  */
 header {
  /* margin-left: 5px; */
  z-index: -1;
  width:100% ;
  box-shadow:0 0 1px #b2b3b4;

  justify-content: space-between;
 }
 .sec
 {
  box-shadow:0 0 5px #b2b3b4;
 }

 header input {
  border: 1px solid #9e9d9d;
  border-radius: 10px;
  padding:10px 0;
  padding-left: 35px;
  width: 160px;
  font-size:14px
 }
 header .input i{
  position:absolute;
  left:10px;
  top:50%;
  transform:translatey(-50%);
  color:#9e9d9d;
 }
 header .icons a:first-child{
  padding-right: 
  15px;

 }

 header .icons a:first-child::before{
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
right: 15px;
top:-9px

 }
 /* end header  */
 /* start section  */
 .sections h1 {
font-weight: bold;
font-size: 35px;
margin-bottom: 50px;
 }
 @media (max-width:767px){
  .sections h1{
    font-size: 30px;
  }
 
 }
 .sections h1::after {
content:"";
position:absolute;
width:130px;
height: 3px;
left:0;
bottom:-15px;
background-color: white;
z-index: 1;

 }
 .sections h1::before {
  content:"";
  position:absolute;
  width:50px;
  height: 3px;
  left:0;
  bottom:-15px;
  background-color: black;
  z-index: 2;
   }
   .sections .sec {
    border-radius: 6px;
    padding-top: 20px;
    
   }

   .sections .sec:first-child.in{
    background-color: #dfe2e4;
   }
   .sections .sec h3 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
   }
   .sections .sec:first-child .wel {
    justify-content: space-between;
   }
   .sections .sec .con span {
    color: #8d8989;
    font-size: 14px;
   }
   .sections .sec:first-child .name {
padding: 60px 0 ;
padding-bottom: 160px;
   }
   .sections .sec:first-child .name img {
    position: absolute;
    left: 10px;
    top: -25px;

   }
   .sections .sec:first-child .name .content{
    border-top: 1px solid #cec8c8;
    border-bottom: 1px solid #cec8c8;
    padding: 20px;

   }
   .sections .sec:first-child .name .content div {
    width: calc(100% / 3);
    text-align: center;
   }
   .sections .sec:first-child .name .content div span {
    display:block;

   }
   .sections .sec:first-child .name .content div span:first-child{
    font-weight: bold;
    font-size: 18px;
   }
   .sections .sec:first-child .name .content div span:nth-child(2) {
    margin-top: 10px;
    font-size:14px;
color:
    #8d8989;
  }
.name button {
  background-color:var(--blue-color);
  color: white;
  padding:8px 15px ;
  border: none;
  border-radius: 8px;
  position: absolute;
  right:10px;
  bottom:100px;
  cursor: pointer;

} 
.name button:hover {
  background-color: var(--blue-alt-color);
}
 
/* secound section  */
.Quick form{
  margin-top: 10px;
  position:relative ;
}
.Quick form input:first-child,.Quick form textarea{
  width: 100%;
  margin: 10px;
  border:none ;
  background-color: #e0dddd4f; 
  color: var(--grey-color);
  font-size: 12px;
  padding: 10px;
  border-radius: 6px;

}
.Quick form textarea {
  padding-bottom: 150px;
}

.sec{
  height: 450px;}
 .Quick input[type="submit"] {
    background-color:var(--blue-color);
    color: white;
    padding:8px 15px ;
    border: none;
    border-radius: 8px;
    position: absolute;
    right:0;
    bottom:-40px;
    cursor: pointer;
  }
  .Quick input[type="submit"]:hover{
    background-color: var(--blue-alt-color);
  }
  /* section 3 */
  .target .icon{
    width: 80px;
    height: 80px;
    background-color:rgba(149, 195, 248, 0.678);
    color: var(--blue-color);
    text-align: center;
    line-height: 80px;

  }
  .target .flow {
    height: 80px;
    /* line-height: 80px; */
    /* padding-top: 15px; */
    padding-left: 15px;
    width: calc(100% - 80px 
    );

  }
  .target .flow span {
    padding: 5px;
  }
  .target .flow span:first-child {
    color: var(--grey-color);
 
  }
  .target .flow span:first-child:nth-child(2){
    font-size: 20px;
    font-weight: bold;
  }
  .target .flow span:last-child {
    background-color: rgba(149, 195, 248, 0.678);
    width: 100%;
/* height:1px; */
padding: 3px 5px;
  }
  .target .flow span.pro{
    background-color: rgba(255, 166, 0, 0.534);
  }
  .target .flow span.team{
    background-color: rgba(0, 128, 0, 0.329);
  }
  .target .flow span.mo:last-child::after {
    content: "";
    position: absolute;
    width: 80%;
    background-color: var(--blue-color)
    ;
    height: 6px;
    left: 0;
    top: 0;
    z-index: 3;


  }
  .target .flow span.pro:last-child::after
  {
    width: 55%;
    content: "";
    position: absolute;
   
    ;
    height: 6px;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .target .flow span.team:last-child::after
  {
    width: 75%;
    content: "";
    position: absolute;
   
    ;
    height: 6px;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .target .flow span.pro::after{
    background-color: var(--orange-color)

  }
  .target .flow span.team::after{
    background-color: green

  }
  .target .flow span.mo:last-child span {
background-color: #0d69d5;
position: absolute;
width: 40px;
height: 25px;
color: white;
left: calc(80% - 15px);
top: -40px;
border-radius: 5px;
  } 
  .target .flow span.pro:last-child span{
    position: absolute;
    width: 40px;
    height: 25px;
    color: white;
    left: calc(55% - 15px);
    top: -40px;
    border-radius: 5px;
    background-color: orange;
  }
  .target .flow span.team:last-child span{
    position: absolute;
    width: 40px;
    height: 25px;
    color: white;
    left: calc(75% - 15px);
    top: -40px;
    border-radius: 5px;
    background-color: green;
  }
  .target .flow span.pro span{
    background-color:var(--orange-color)
  }

  .target .flow span.x::after{
    content: "";
position: absolute;

left: calc(50% - 15px);
bottom: -25px;
border-radius: 10px;

border-width: 15px;
border-style: solid;
border-color: var(--blue-color) transparent transparent transparent;
/* z-index: -1; */
  }
  .target .flow span.t::after{
    content: "";
position: absolute;

left: calc(50% - 15px);
bottom: -25px;
border-radius: 10px;

border-width: 15px;
border-style: solid;
border-color: green transparent transparent transparent;
/* z-index: -1; */
  }
  .target .flow span.y::after{
    content: "";
position: absolute;

left: calc(50% - 15px);
bottom: -25px;
border-radius: 10px;

border-width: 15px;
border-style: solid;
border-color: orange transparent transparent transparent;
/* z-index: -1; */
  }
  
  .target section div:nth-child(2) .icon {
    background-color: rgba(255, 166, 0, 0.425);
  }
  .target section div:nth-child(3) .icon {
    background-color: rgba(0, 128, 0, 0.411)}
 

.tickets .container{
  flex-wrap: wrap;
  
}
.tickets .container .st {
  width: calc(50% - 20px );
  margin: 10px;
  border:1px solid rgba(128, 128, 128, 0.61);
  border-radius: 6px;
  padding:20px 10px;
  /* border-color: var(--grey-color); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


}
.tickets .container .st span {
  width: 100%;
  text-align: center;
  padding: 5px;
}
.tickets .st span:first-child i {
  font-size: 25px;
  
}
.tickets .st span:nth-child(2){
  font-size: 25px;
  font-weight: bold;
}
.tickets .st span:nth-child(3){
  font-size: 14px;
  color: var(--grey-color);
}






 /* end section  */



 /* section setting  */
 .Setting .sec{
  height:350px;

 }
 .Setting .sec .sheck {
  margin-top:20px;
  justify-content: space-between;

 }
 .Setting .sec .sheck h4 {
  font-weight:200 ;
  padding: 5px 0 ;

 }
 .Setting .sec .sheck span {
  font-size:12px;
  color :gray
 }
 .Setting .sec .sheck .check-icon{
  /* margin-right:10px; */
  width:80px;
  background-color:rgba(128, 128, 128, 0.26);
  height:30px;
  padding:5px;
  border-radius:15px
 }
 .Setting .sec .sheck .check-icon i{
  background-color:white;
  width:20px;
  height:20px;
  border-radius:20px;
  cursor: pointer;
  transition:z-index 0s ,right 2s,left  2s;
  /* left:5px; */


 }
 .Setting .sec .sheck .check-icon i:first-child{
z-index:-1
 }
 .Setting .sec  textarea {
  margin-top:20px;
  width:100%;
  border-color:rgba(128, 128, 128, 0.473);
  padding:10px;
  height:150px;

 }
 .Setting .sec  textarea::placeholder{
  color:rgba(128, 128, 128, 0.616);
 }


 .sheck button {
  background-color:var(--blue-alt-color) ;
  color:white;
  padding:5px 10px;
  border:none;
  border-radius:10px;
cursor: pointer;

 }
 .sheck button:hover{
  background-color:var(--blue-color) ;

 }
 .Security  .sheck:nth-child(3){
  border-top:1px solid rgba(128, 128, 128, 0.199);
  border-bottom:1px solid rgba(128, 128, 128, 0.199);
  padding:15px 0px;

 }


  /*end  section setting  */